html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root > * {
  padding: 0.5rem 1rem;
}

.iconButton {
  color: #444;
  border: none;
  background-color: transparent;
  padding: 0;
}

.iconButton[disabled] {
  color: #888;
}

.iconButton:not([disabled]) {
  cursor: pointer;
}

.iconButton:not([disabled]):hover {
  color: #666;
}

/* navbar */

.navbar {
  align-items: center;
  background-color: #f3f3f3;
  border-bottom: 1px solid rgb(0 0 0 / 14%);
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  color: #333;
  display: flex;
}

.navbar > * {
  margin-right: 1rem;
}

.navbar > *:last-child {
  margin-right: 0;
}

.navbar .fill {
  flex-grow: 1;
}

.navbar .player,
.navbar .listeners {
  overflow: hidden;
  white-space: nowrap;
}

.navbar .listeners .label {
  font-size: 80%;
}

/* player */

.player {
  align-items: center;
  display: flex;
  font-size: 80%;
  height: 2rem;
  line-height: 2rem;
}

.playButton {
  margin-right: 0.5rem;
}

/* volume */

.volumeControl {
  align-items: center;
  display: flex;
  width: 7rem;
}

.muteButton {
  color: #444;
  cursor: pointer;
  text-align: left;
  width: 1.5rem;
}

.volumeSlider {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.volumeSlider.rc-slider-disabled {
  background-color: transparent;
}

.volumeSlider.rc-slider-disabled .rc-slider-rail {
  background-color: #ccc;
}

.volumeSlider .rc-slider-rail {
  background-color: #bbb;
}

.volumeSlider .rc-slider-track {
  background-color: #666;
}

.volumeSlider .rc-slider-handle {
  border-color: #666;
}

.volumeSlider .rc-slider-handle:active,
.volumeSlider .rc-slider-handle:focus,
.volumeSlider .rc-slider-handle:hover {
  box-shadow: none;
  border-color: #666;
}

/* Chat */

.chat {
  flex-grow: 1;
}
