.loginForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-controls);

  > * {
    display: flex;
    gap: var(--gap-controls-mq-sm);
  }

  @media (max-width: var(--breakpoint-sm)) {
    & {
      > *:first-child {
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
}

.registerForm {
  align-items: center;
  display: flex;
  justify-content: space-around;

  form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-controls);
    justify-content: center;

    input {
      width: auto;
    }

    .buttons {
      display: flex;
      gap: var(--gap-controls);

      button {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }

  .registerExplanation {
    flex-basis: 40%;
  }

  @media (max-width: var(--breakpoint-sm)) {
    & {
      flex-direction: column-reverse;

      form {
        margin-right: 0;
        gap: var(--gap-controls-mq-sm);
      }

      .buttons {
        gap: var(--gap-controls-mq-sm);
      }

      .registerExplanation {
        max-width: 80%;
      }
    }
  }
}

.messageInputForm {
  align-items: center;
  display: flex;
  gap: var(--gap-controls);

  > div {
    display: flex;
    gap: var(--gap-controls);

    input {
      flex-grow: 1;
    }

    &:first-child {
      flex-grow: 1;
    }
  }

  @media (max-width: var(--breakpoint-sm)) {
    & {
      flex-wrap: wrap;
      gap: var(--gap-controls-mq-sm);

      > div {
        gap: var(--gap-controls-mq-sm);

        &:first-child {
          flex-wrap: wrap;
        }

        &:nth-child(2) {
          flex-grow: 1;

          button {
            flex-grow: 1;
          }
        }
      }
    }
  }
}
